<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Nwanze Scrumy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/nwanzescrumy.css' %}">
    </head>

    <body>
        <div class="container">
                {% if request.user.is_authenticated %}
                <h1 class="text-center">Logged in user {{request.user.username }}</h1>
                <p class="text-center"><a href="/accounts/logout">Logout</a></p>
                <p class="text-center">
                        User Group {{request.user.groups.first.name}}
                    </p>
                {% else %}
                    
                <p class="text-center"><a href="/accounts/login">Login</a></p>
        
                {% endif %}
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>User</th>
                        <th></th>
                        <th>Weekly Goals</th>
                        <th>Daily Goals</th>
                        <th>Verify</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{% url 'adduser' %}">+</a></td>
                            <td>
                               {{user.username}}
                            </td>
                            <td><a href="{% url 'addtask' %}">+</a></td>
                            <td>
                                <ul>
                                    {% for task in user.weekly %}
                                    {% if user.id is  task.created_by_id %}
                                        <li>{{task.goal_description}}</li>
                                    {% else %}
                                    
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for task in user.daily %}
                                        {% if user.id == task.created_by_id %}
                                            <li>{{task.goal_description}}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for task in user.verify %}
                                        {% if user.id == task.created_by_id %}
                                        <li>{{task.goal_description}}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for task in user.done %}
                                        {% if user.id == task.created_by_id %}
                                            <li>{{task.goal_description}}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </body>

</html>